/* INDEX.HTML */

/* TOP-CONTAINER */
.top-container {
  text-align: center;
  background-color: #141010;
  height: 130px;
  padding: 30px;
}

.navbar {
  border-radius: 10px;
}

.navbar-nav {
  margin-left: auto;
  margin-right: 30px;
  font-size: 30px;
}

.nav-item {
  margin: auto 14px;
}

.bank-image {
  height: 60px;
  width: 60px;
  margin-right: 30px;
  margin-left: 20px;
}

/* MIDDLE-CONTAINER */

.middle-container {
  text-align: center;
  background-color: #141010;
  height: 530px;
  padding: 30px;
}

.col-lg-6 {
  position: relative;
}

.mc-title {
  color: #FFF8B6;
  font-weight: 900;
  font-size: 100px;
  text-align: left;
}

.mc-slogan {
  font-size: 4rem;
  text-align: left;
  margin-left: 30px;
  margin-top: 15px;
  color: #FFF8B6;
}

.card {
  width: 500px;
  height: 200px;
  align-self:center;
  margin-left:auto;
  margin-right:auto;
  margin-top:50vh;
  display:grid;
  grid-template-columns: 1fr;
}

.frosty {
position: absolute;
top: -175px;
left: 20px;
background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 8.0px );
-webkit-backdrop-filter: blur( 8.0px );
border-radius: 9px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.login-button {
  position: absolute;
  width: 240px;
  height: 60px;
  left: 20px;
  top: 370px;
}

.register-button {
  position: absolute;
  width: 240px;
  height: 60px;
  left: 278px;
  top: 370px;
}

.mc-mobile-image {
  height: 500px;
  width: 400px;
}

/* BOTTOM-CONTAINER */

.bottom-container {
  height: 60px;
  background-color: #141010;
  text-align: center;
}

.footer-icons {
  padding: 5px;
}

.footer-paragraph {
  padding: 30px;
  background-color: #141010;
}

/* CUSTOMER.PHP */

.customer-body {
  background-color: #141010;
}

/* CUSTOMER-TITLE */

.customer-title {
  text-align: center;
  color: #FFF8B6;
  font-size: 4rem;
  background-color: #212529;
  margin: 30px 115px 30px 115px;
  border-radius: 6px;
}

.transaction-button-heading {
  text-align: center;
}

/* CUSTOMER-TABLE */

.table-curved {
    border-collapse: separate;
}
.table-curved {
    border: solid #ccc 1px;
    border-radius: 6px;
    border-left:0px;
}
.table-curved td, .table-curved th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.table-curved th {
    border-top: none;
}
.table-curved th:first-child {
    border-radius: 6px 0 0 0;
}
.table-curved th:last-child {
    border-radius: 0 6px 0 0;
}
.table-curved th:only-child{
    border-radius: 6px 6px 0 0;
}
.table-curved tr:last-child td:first-child {
    border-radius: 0 0 0 6px;
}
.table-curved tr:last-child td:last-child {
    border-radius: 0 0 6px 0;
}


/* TRANSACTION.PHP */

.transaction-title {
  text-align: center;
  color: #FFF8B6;
  font-size: 4rem;
  background-color: #141010;
}
